.container {
    position: fixed;
    top: 10vh;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    /* background:
        linear-gradient(45deg, rgba(255, 103, 0, 0.3), rgba(0, 0, 80, 0.9)),
        url('../../../assets/img/spooky-cabin-valley-background.jpg') center center no-repeat;
      ; */
}

.login-card {
    display: block;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 40vw;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding: 80px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.form-input {
    margin: 16px auto auto;
    display: block;
    max-width: 90%;
    height: 40px;
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    font-size: 1em;
}

.btn {
    font-family: 'Raleway', sans-serif;
    height: 54px;
    max-width: 90%;
    margin: 16px auto auto;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#btn-login {
    background-color: #4A4875;
    transition: ease-in 0.2s;
}

#btn-login:hover {
    background-color: #5A5895;
}

#btn-login:disabled {
    background-color: #eee;
    color: #999;
}

h2 {
    height: 2em;
}

a {
    text-decoration: none;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.footer {
    margin: auto;
    text-align: center;
    width: 30vw;
}
