.container {
    position: fixed;
    top: 10vh;
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    /* background: linear-gradient(45deg, rgba(0, 102, 255, 0.157), rgba(0, 150, 80, 0.651)),
        url('../../../assets/img/dark-scary-lake-at-night-background.png') center center no-repeat;
      ; */
}

.signup-card {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 50vw;
    margin: auto;
    margin-top: 30px;
    padding: 80px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.form-input {
    display: block;
    width: 47vw;
    height: 40px;
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 6px;
    font-size: 1em;
    margin: 10px auto;
}

.btn {
    height: 54px;
    margin-top: 32px;
    border: none;
    color: aliceblue;
    background-color: #5A5895;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.2s ease-in;
    width: 100%;
}

.btn-signup:hover {
    background-color: #4a4865;
    transition: ease-in;
}

.btn-signup:disabled {
    background-color: #eee;
    color: #999;
}

h2 {
    text-align: center;
    height: 2em;
}

a {
    text-decoration: none;
}

.label {
    font-size: 0.9em;
}