<div class="home-container">
  <div class="big-button-contain">
    <span class="btn-margin">
      <button type="button" class="big-btn easy" routerLink="/stroop-easy">Stroop test<br />- Simple -
      </button>
    </span>
    <span class="btn-margin">
      <button type="button" class="big-btn medium" routerLink="/stroop-medium">Stroop test<br />- Complex -
      </button>
    </span>
    <span class="btn-margin">
      <button type="button" class="big-btn hard" routerLink="/stroop-hard">Stroop test<br />- Insane -
      </button>
    </span>
  </div>
  <div class="big-button-contain">
    <span class="btn-margin">
      <button type="button" class="big-btn" routerLink="/randomizer">Randomizer
      </button>
    </span>
    <span class="btn-margin">
      <button type="button" class="big-btn" (click)="start()">Coming soon</button>
    </span>
  </div>
</div>
