<button>New</button>
<button>Pause</button>
<button>Button</button>
<div class="big-grid">
  <table class="sudoku-grid">
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
    <tr>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
      <td><input type="number" min="1" max="9" maxlength="1" [readonly]="readOnly[0]" [value]="fullGrid[0]" /></td>
    </tr>
  </table>
</div>
